blank_us.svg
debug.log
nyt_covid19.png
Oregon_congressional_district_by_party.svg
oregon_house_districts.svg
2010house_districts/2010_House_Districts.dbf
2010house_districts/2010_House_Districts.prj
2010house_districts/2010_House_Districts.sbn
2010house_districts/2010_House_Districts.sbx
2010house_districts/2010_House_Districts.shp
2010house_districts/2010_House_Districts.shp.xml
2010house_districts/2010_House_Districts.shx
or_state_boundary/or_state_boundary.dbf
or_state_boundary/or_state_boundary.html
or_state_boundary/or_state_boundary.prj
or_state_boundary/or_state_boundary.sbn
or_state_boundary/or_state_boundary.sbx
or_state_boundary/or_state_boundary.shp
or_state_boundary/or_state_boundary.shx
or_state_boundary/or_state_boundary.txt
or_state_boundary/or_state_boundary.xml
or_state_boundary/PRJdevelopment.pdf
